@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #FFFAF6;
}

:root h1 {
  color: #721B27;
  font-size: 4rem;
  font-weight: 600;
}

:root h2 {
  color: #721B27;
  font-size: 3rem;
  font-weight: 600;
}

:root h3 {
  color: #000000;
  font-size: 1.4rem;
}

.heading-paragraphs {
  font-size: 1.2rem;
}


@media screen and (max-width: 768px) {
  :root h1 {
    font-size: 2.5rem;
  }

  :root h2 {
    font-size: 2rem;
  }

  :root h3 {
    font-size: 1.5rem;
  }

  .heading-paragraphs {
    font-size: 1rem;
  }
}